/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

body {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}

header {
  height: 80px;
  margin: 0px;
  position: fixed;
  width: 100%;
  background-color: white;
}

.content-logo {
  display: inline-block;
  width: 700px;
}

.logo {
  width: 200px;
  margin: 10px;
  vertical-align: middle;
  /*centra el resto de componentes respecto a si mismo*/
  z-index: 10;
}

.logo:hover {
  animation: shake 1s;
  cursor: pointer;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes shake {
  0% {
    width: 240px;
    margin: 4px;
    opacity: 0.9;
  }
  20% {
    width: 200px;
    margin: 10px;
    opacity: 1;
  }
  40% {
    width: 240px;
    margin: 4px;
    opacity: 0.9;
  }
  60% {
    width: 200px;
    margin: 10px;
    opacity: 1;
  }
  80% {
    width: 240px;
    margin: 4px;
    opacity: 0.9;
  }
  100% {
    width: 200px;
    margin: 10px;
    opacity: 1;
  }
}

.top-nav {
  display: inline-block;
  right: 0;
  width: 650px;
  text-align: right;
  right: 0px;
  margin: 20px;
}

.top-nav li {
  display: inline-block;
  list-style: none;
}

.top-nav a {
  display: inline-block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-weight: lighter;
  font-size: 20px;
  margin: 4px;
  transition-property: color;
}

section {
  width: 100%;
  vertical-align: top;
}

.landing {
  height: 800px;
  width: 100%;
  background-image: url(../images/landing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.landing-text {
  width: 100%;
  text-align: center;
  padding-top: 15%;
}

h1 {
  font-size: 80px;
  font-weight: normal;
  color: #FFF;
}

h2 {
  font-size: 28px;
  font-weight: lighter;
  color: #FFF;
}

.on-spotify {
  top: 0px;
  width: 100%;
  height: 550px;
  width: 100%;
}

.whats-on {
  width: 100%;
  height: 25%;
}

.whats-on h1 {
  vertical-align: middle;
  text-align: center;
  margin: 0px;
  font-size: 36px;
  color: black;
  height: 100%;
  padding-top: 30px;
}

.whats-on hr {
  width: 285px;
  border: solid 2px #00B172;
}

.icons {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 33.1%;
  height: 75%;
  margin-top: 50px;
}

.icons img {
  width: 35%;
}

.icons h1 {
  font-size: 28px;
  font-weight: bold;
  color: #00B172;
}

.icons p {
  font-size: 24px;
  font-weight: lighter;
}
